html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  outline: transparent;
  color: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #555;
}



.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
  background-color: $blue;
  color: $white;
  border: none;
  padding: 4px 18px;
  border-radius: 50px;
  text-decoration: none;
}

.box-title {
  width: 100%;
  padding: 40px 0 40px 30px;
  min-height: 110px;
  background-color: $white;
  border-radius: 5px;
  font-size: 30px;
  color: #000;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.userpic {
  display: flex;
  align-items: center;
  &__info {
    display: flex;
    align-items: center;
  }
  &__link {
    margin-right: 8px;
  }
  &__link 
    img {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
  }
  &__info-title {
    font-size: 15px;
    margin-right: 20px;
    color: #000;
    line-height: 30px;
  }
}

.products-web {
  color: $web;
  line-height: 30px;
  padding-left: 22px;
}

.prise {
  display: inline-block;
  background-color: $blue;
  color: $white;
  line-height: 30px;
  font-weight: 500;
  padding: 0 14px;
  text-align: center;
  border-radius: 50px;
} 

.likes
  svg {
    width: 16px;
    height: 16px;
  path {
    fill: $web;
  }
}

.likes
  span {
    line-height: 30px;
    padding-left: 6px;
    margin-right: 18px;
    font-size: 15px;
}

.baskit
  svg {
    width: 16px;
    height: 16px;
  path {
    fill: $blue;
  }
}

.baskit 
  span {
    font-size: 15px;
    color: $blue;
    line-height: 30px;
  }

.rate-star {
  font-size: 0;
}
